<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.22.0/js/MicrosoftTeams.min.js"
      integrity="sha384-WSG/sWulIv7rel5TnFlH8JTpxl2OxzZh9Lux2mIzBFiTRLFvMBeFv9VURu/3vQdx"
      crossorigin="anonymous"
    ></script>
    <title>Microsoft Teams Tab</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="notice" style="margin-bottom: 20px;"></div>
      <p><b>Note:</b> Please enable transcription during the meeting by going to <b>More -> Recording -> Transcription</b>.</p>
    </div>
    <h4 id="sub-success">You have subscribed to this meeting transcripts.</h4>
    <h4 id="loading">Loading...</h4>
    <div id="url-content">
      <div class="row">
        <label for="joinUrlTxtArea">Meeting Join URL - </label>
      </div>
      <div class="row">
        <textarea id="joinUrlTxtArea" name="join_url"></textarea>
      </div>
      <div class="row">
        <button id="btn-submit" type="submit" disabled="true">Allow Transcription</button>
      </div>
    </div>
    <div id="content">
    </div>
    <script src="/static/scripts/teamsapp.js"></script>
    <script type="text/javascript">
      microsoftTeams.appInitialization.notifySuccess();
    </script>
  </body>
</html>
